/* 

primary colors for the website include :
turquoise - rgb(64, 244, 208) #40e0d0
gray and black will be dark shades of turquoise
white and light ash will be bright shades mof turquoise

*/

*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}
a, button, link, input[type=submit]{
    cursor: pointer;
}
a{
    text-decoration: none;
}

/* declare class variables */
.text-white{
    color: white;
}
.text-primary{
    color: #40e0d0;
}
.text-dark{
    color: #040808;
}
.bg-primary{
    background-color: #40e0d0;
}
.bg-dark{
    background-color: #010303;
}
.bg-white{
    background-color: #ffffff;
}
.bg-light{
    background-color: #e9e9e9;
}
.bg-gray{
    background-color: #c4c4c4;
}
.bg-clear{
    background-color: #04080800;
}

header{
    min-height: 80vh;
    width: 100%;
}
#header-menu{
    display: block;
}
.header-menu{
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow-x: hidden;
    transition: 0.5s;
}
.menu-overlay{
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.header-menu a{
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    display: block;
    cursor: pointer;
    transition: 0.3s;
}
.header-menu a:hover, .header-menu a:focus{
    color: #040808;
}
.header-menu .closemenubtn{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
    cursor: pointer;
}

.full-header{
    min-height: 80vh;
    width: 100%;
    background-image: url(../img/photo2.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
}
.top-bar{
    height: 15%;
    min-height: 90px;
    position: relative;
    width: 100%;
    background-color: #04080800;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.top-bar .menu, .top-bar .menu a{
    display: none;
    font-size: 30px;
    font-weight: 700;
}
.top-bar-logo{
    height: 80%;
}
.top-bar-logo span{
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 600;
}
.top-bar-menu ul{
    list-style-type: none;
}
.top-bar-menu li{
    display: inline-block;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.full-header-content{
    padding: 40px;
    margin: 20px 40px;
    background-color: #0408082c;
    border: none;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.full-header-content p{
    max-width: 600px;
    margin-bottom: 25px;
}
.banner-writeup p, .banner-writeup p span{
    margin-bottom: 15px;
    max-width: 600px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
.header-banner-cta{
    margin-bottom: 20px;
    text-align: center;
}
.header-banner-cta button{
    padding: 10px 12px;
    margin-right: 18px;
    border-radius: 0;
    width: 120px;
}
#cta-btn1{
    border: 1px solid #088383;
    background-color: #e9e9e9c0;
    color: #040808;
}
#cta-btn1:hover{
    border: 1px solid #e9e9e9;
    background-color: #0408082c;
}
#cta-btn2{
    border: 1px solid #088383;
    background-color: #040808a9;
    color: #40e0d0;
}
#cta-btn2:hover{
    border: 1px solid #40e0d0;
    background-color: #04080800;
}

.our-company{
    width: 100%;
    min-height: 60vh;
    background-color: #011313;
    padding: 40px;
    display: flex;
    justify-content: center;
}
.our-company div{
    width: 70%;
}
.about-us-title{
    font-size: 26px;
    font-weight: 600;
    color: #40e0d0;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: left;
}
.about-us-subtitle{
    font-size: 32px;
    font-weight: 600;
    color: #e9e9e9;
    text-align: left;
    margin-bottom: 20px;
}
.about-us-text{
    margin-bottom: 20px;
}
.about-us-text p{
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    text-align: left;
}
.about-us-cta{
    text-align: left;
    margin-bottom: 20px;
}
.about-us-cta span{
    background-color: #088383;
    color: #e9e9e9;
    padding: 8px 12px;
    cursor: pointer;
}

footer{
    background-color: #010303;
    color: #c4c4c4;
    text-align: center;
}
footer span{
    margin: 8px;
}






@media only screen and (max-width:800px){
    .top-bar{
        background-color: #010303;
    }
    .top-bar .menu, .top-bar .menu a{
        display: block;
    }
    .top-bar-menu{
        display: none;
    }
    .header-banner-cta{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header-banner-cta button{
        margin: 0 0 15px 0;
    }

    .our-company div{
        width: 100%;
    }
}